bigdata2025classification/
.venv
# Python junk
__pycache__/
*.pyc

# Large generated artifacts
*.obj
*.joblib
*.pkl
*.npz

# Optional: generated images
images/*.png

# large datasets (do not commit)
handout/**/Part1/data/train.csv
handout/**/Part1/data/test_without_labels.csv

# large datasets (do not commit)
handout/**/Part1/data/train.csv
handout/**/Part1/data/test_without_labels.csv
